
.hero-area {

    padding-top: 100px;
    background: rgb(168,0,224);
    background: linear-gradient(343deg, rgba(168,0,224,1) 0%, rgba(170,159,247,1) 48%, rgba(255,255,255,1) 100%);
    
    min-height: 300px;
}

footer {
    background-color: rgb(93, 93, 93);
    color: white;
    margin-top: 100px;
}


#my-pagination .pagination {
    text-align: center !important;
    display: block;

}

#my-pagination .pagination li {
    display: inline;
}

#my-pagination .pagination li.active a {
    border: 1px solid #ccc;
    color: rgb(236, 236, 236);
    background-color: rgb(66, 66, 66);

}

#my-pagination .pagination li a {
    border: 1px solid #ccc;
    background-color: rgb(236, 236, 236);
    color: rgb(66, 66, 66);
    display: inline-block;
    padding-left: 10px; padding-right: 10px;
    height: 30px;
    border-radius: 4px;
}

#my-pagination .pagination li a:hover {
    text-decoration: none;
    border: 1px solid #ccc;
    color: rgb(236, 236, 236);
    background-color: rgb(66, 66, 66);


}
